.box {
  width: 100px;
  height: 100px;
}

.centre {
  gap: 0.5rem;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: orange;
}
